.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}
.btn-lg {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-primary {
  background-color: #00243a;
}
.btn-primary:hover {
  background-color: #00243a;
  border-color: #00243a;
}
body {
  color: #333;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  line-height: 140%;
  font-size: 5px;
}
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Open Sans', sans-serif;
	color: #e98349;
}
.img-center {
  margin: 0 auto;
  display: block;
}
.heading {
	color: #666;
	padding-bottom: 75px;
}
.heading h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  color: #00243a;
}

.heading h2 span {
  border-style: dashed;
  border-width: 3px;
  border-color: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
}
.heading p {
  padding-top: 30px;
  color: #999;
  display: block;
  max-width: 590px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 25px;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-weight: 200;
}
.header-wrap {
	padding-top: 75px;
	padding-bottom: 90px;
	background: #00243a;
}
.header-wrap .head-container h1 {
	text-transform: uppercase;
	font-size: 12px;
	color: #e98349;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	line-height: 140%;
	text-align: center;
}
.header-wrap .head-container h2 {
	text-transform: uppercase;
	font-size: 18px;
	color: #e98349;
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	line-height: 140%;
	text-align: center;
}
.header-wrap .head-container h3 {
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	line-height: 140%;
	text-align: center;
}
.header-wrap .head-container .logo-container {
  padding-bottom: 60px;
}
.header-wrap .head-container .logo-container .logo {
  margin: 0 auto;
  width: 128px;
  height: 128px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.header-wrap .action {
  padding-top: 60px;
}
.theme-wrap {
  padding-top: 90px;
  background-color:#fff;
}
.theme-wrap .theme-container {
  color: #555;
  padding-bottom: 90px;
}
.theme-wrap .theme-container h2 {
	text-transform: uppercase;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 140%;
	text-align: center;
	color: #00243a;
}
.theme-wrap .theme-container h2 span {
  border-style: dashed;
  border-width: 3px;
  border-color: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
}
.theme-wrap .theme-container p {
	padding-top: 30px;
	color: #666;
	display: block;
	max-width: 590px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 25px;
	font-family: 'Dosis', sans-serif;
	text-align: left;
	font-weight: 200;
}
.theme-wrap .theme-container .service {
  text-align: center;
  color: #555;
  padding-bottom: 60px;
}
.theme-wrap .theme-container .service h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  color: #00243a;
}
.theme-wrap .theme-container .service span.micon {
  font-size: 120px;
}
.theme-wrap .theme-container .service p {
  font-size: 16px;
  color: #999;
}

.programme-wrap {
	padding-top: 90px;
	background-color: #ccc;
}


.programme-wrap .programme-container {
  color: #555;
  padding-bottom: 90px;
}
.programme-wrap .programme-container h2 {
	text-transform: uppercase;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 140%;
	text-align: center;
	color: #00243a;
}
.programme-wrap .programme-container h2 span {
  border-style: dashed;
  border-width: 3px;
  border-color: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
}
.programme-wrap .programme-container h3 {
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 140%;
	text-align: left;
	color: #fff;
}
.programme-wrap .programme-container h3 span {
  border-style: dashed;
  border-width: 0px;
  border-color: #ccc;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 0px;
}
.programme-wrap .programme-container p {
	padding-top: 30px;
	color: #666;
	display: block;
	max-width: 590px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 25px;
	font-family: 'Dosis', sans-serif;
	text-align: left;
	font-weight: 200;
}

.programme-wrap .programme-container p.speak{
	padding-top: 30px;
	padding-left: 50px;
	color: #666;
	display: block;
	max-width: 540px;
	margin: 0, auto, auto, 30;
	font-size: 18px;
	line-height: 25px;
	font-family: 'Dosis', sans-serif;
	text-align: left;
	font-weight: 200;
}

.programme-wrap p.white {
	padding-top: 30px;
	color: #fff;
	display: block;
	max-width: 590px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 25px;
	font-family: 'Dosis', sans-serif;
	text-align: left;
	font-weight: 700;
}
.programme-wrap p.strong {
	padding-top: 30px;
	color: #e98349;
	display: block;
	max-width: 590px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 25px;
	font-family: 'Dosis', sans-serif;
	text-align: left;
	font-weight: 700;
}

.programme-wrap strong {
	padding-top: 30px;
	color: #e98349;
	display: block;
	max-width: 590px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-weight: 400;
}

.programme-wrap .programme-container .service {
  text-align: center;
  color: #555;
  padding-bottom: 60px;
}
.programme-wrap .programme-container .service h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  color: #00243a;
}
.programme-wrap .programme-container .service span.micon {
  font-size: 120px;
}
.programme-wrap .programme-container .service p {
  font-size: 16px;
  color: #999;
}

.programme-wrap a {
	color: #00243a;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
}


.speakers-wrap {
	padding-top: 90px;
	background-color: #fff;
}
.speakers-wrap .speakers-container {
  color: #555;
  padding-bottom: 90px;
}
.speakers-wrap .speakers-container h2 {
	text-transform: uppercase;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 140%;
	text-align: center;
	color: #00243a;
}
.speakers-wrap .speakers-container h2 span {
  border-style: dashed;
  border-width: 3px;
  border-color: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
}
.speakers-wrap .speakers-container p {
	padding-top: 30px;
	color: #666;
	display: block;
	max-width: 590px;
	margin: 0 auto;
	font-size: 20px;
	line-height: 25px;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-weight: 200;
	height: 130px;
}
.speakers-wrap .speakers-container .service {
  text-align: center;
  color: #555;
  padding-bottom: 60px;
}
.speakers-wrap .speakers-container .service h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  color: #00243a;
}
.speakers-wrap .speakers-container .service span.micon {
  font-size: 120px;
}
.speakers-wrap .speakers-container .service p {
  font-size: 16px;
  color: #999;
}



.registration-wrap {
  padding-top: 90px;
  background-color: #ccc;
  color: #555;
  padding-bottom: 90px;
}
.registration-wrap h2 {
	text-transform: uppercase;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 140%;
	text-align: center;
	color: #00243a;
}
.registration-wrap h2 span {
  border-style: dashed;
  border-width: 3px;
  border-color: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
}
.registration-wrap p {
	padding-top: 30px;
	color: #666;
	display: block;
	max-width: 590px;
	margin: 0 auto;
	font-size: 20px;
	line-height: 25px;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-weight: 200;
}

.registration-wrap a {
	color: #1dc2e5;
	text-decoration:none;
	font-size: 20px;
	line-height: 25px;
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
}
.registration-wrap .items {
  padding-top: 90px;
}
.registration-wrap .items .item {
  margin-bottom: 60px;
  text-align: center;
}
.registration-wrap .items .item a {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}
.registration-wrap .items .item h3 {
  text-align: center;
}
.registration-wrap .items .item .overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #00243a;
  background-color: rgba(50,118,177,0.8);
  -moz-transition-duration: .4s;
  -o-transition-duration: .4s;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  opacity: 0;
  border: 1px solid #00243a;
  letter-spacing: 0;
}
.registration-wrap .items .item .overlay .overlay-icon {
  margin-top: -25px;
  margin-left: -25px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 48px;
  width: 50px;
  text-align: center;
  border: 1px solid white;
}
.registration-wrap .items .item:hover .overlay {
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
}
.registration-wrap .travel-link {
  padding-top: 60px;
}
.travel-wrap {
	padding-top: 90px;
	color: #fff;
	background-color: #fff;
	padding-bottom: 90px;
}

.travel-wrap h2 {
	text-transform: uppercase;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 140%;
	text-align: center;
	color: #00243a;
}
.travel-wrap h2 span {
  border-style: dashed;
  border-width: 3px;
  border-color: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
}
.travel-wrap p {
	padding-top: 30px;
	color: #666;
	display: block;
	max-width: 590px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 25px;
	font-family: 'Dosis', sans-serif;
	text-align: left;
	font-weight: 200;
}
.registration-wrap a {
	color: #1dc2e5;
	text-decoration: none;
	font-size: 20px;
	line-height: 25px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
}

.registration-wrap p.strong {
	padding-top: 30px;
	color: #00243a;
	display: block;
	max-width: 590px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 25px;
	font-family: 'Dosis', sans-serif;
	text-align: left;
	font-weight: 700;
}

.travel-wrap strong {
	padding-top: 30px;
	color: #e98349;
	display: block;
	max-width: 590px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-weight: 400;
}

.travel-wrap .team .member {
  padding-bottom: 60px;
}
.travel-wrap .team .member img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  max-width: 256px;
}
.travel-wrap .team .member h3 {
  text-align: center;
}
.travel-wrap .team .member .social {
  padding-top: 30px;
  text-align: center;
}
.travel-wrap .team .member .social a {
  margin-left: 6px;
  margin-right: 6px;
}
.travel-wrap .team .member .social a img {
  display: inline;
  max-width: 48px;
  border: 4px solid #ccc;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  transition: all .4s ease-in;
}
.travel-wrap .team .member .social a:hover img {
  border: 4px solid #00243a;
}
.contact-wrap {
  position: relative;
  overflow: hidden;
  background: #0F4065;
}

.contact-wrap a {
	color: #fff;
	text-decoration: none;
}

.contact-wrap h2 {
  color: #fff;
}
.contact-wrap p {
  color: #fff;
}
.contact-wrap .heading h2 {
	color: #e98349;
	font-family: 'Open Sans', sans-serif;
}
.contact-wrap .heading p {
  color: #fff;
}
.contact-wrap .social {
	padding-bottom: 60px;
	padding-top: 60px;
}
.contact-wrap .social .icon {
  margin-left: 8px;
  margin-right: 8px;
}
.contact-wrap .copyright p {
	font-size: 10px;
	color: #fff;
}
.contact-wrap .copyright a {
	font-size: 12px;
	color: #fff;
	text-decoration:none;
}

.contact-wrap .copyright a:hover {
	cursor: pointer;
}
.contact-wrap strong {
	color: #e98349;
	display: block;
	max-width: 590px;
	font-size: 18px;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.contact-wrap .up {
  padding-top: 60px;
}
.contact-wrap .up a {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.contact-wrap .up a img {
  max-width: 100%;
}
.contact-wrap #map {
  height: 1000px;
  width: 100%;
  position: absolute;
  z-index: 0;
}
.contact-wrap .contact-container {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  z-index: 100;
  background-color: #00243a;
}
.contact-wrap .contact-container .phone,
.contact-wrap .contact-container .email {
  font-weight: bold;
  font-size: 22px;
}
@media (max-width: 400px) {
  .contact-wrap .contact-container .email {
    font-size: 18px;
  }
}
#credits {
	font-size: 14px;
}
